<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edmt.dev.verisdespachosapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApiS.AppVerisDespachos"
        android:allowBackup="true"
        android:icon="@mipmap/logo_veris_app"
        android:label="Despachos"
        android:roundIcon="@mipmap/logo_veris_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pantalla_Principal"
            android:label="MENU PRINCIPAL"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".Login"
            android:label="INICIO DE SESION"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".LectorPortrait"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>
    </application>

</manifest>